<div id="main">
    <div>
        <h1>My Earlier Projects</h1>
        <!--p>dbError:{{dbError}}, isAdmin:{{isAdmin}}, name: {{name}}, isLoggedIn: {{isLoggedIn}} </p-->
        {{#if isAdmin}}
        <div> 
            <a href="/projects/new" class="btn btn-link"> New project </a>
        </div>
        {{/if}}


        {{#if hasDatabaseError}}
        <div>
            Sorry, there was a problem with the database <br />
            {{theError}}
        </div>
        {{else}}
            {{#each projects}}
                <div>
                    <a href="{{pimgURL}}" target="_blank"> <!-- Make the project image clickable and open in a new tab -->
                        <div class="card">
                            <div class="centerVert padding">
                                <img class="projectsImg" src="{{pimgURL}}" alt="{{pimgURL}}" />
                            </div>
                            <div class="centerVert padding">
                                <h1>{{pname}}</h1>
                                <p> </p>
                                <div>{{pyear}} - {{ptype}}</div>
                            </div>
                            <div>
                                {{#if ../isAdmin}}
                                <div>
                                    <a href="/projects/update/{{pid}}"> Modify </a> - <a href="/projects/delete/{{pid}}" class="important"> Delete </a>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </a>
                </div>
           {{/each}}
        {{/if}}
     </div>
  </div>
</div>
